<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.ReplyMapper">

  <select id="selectList" parameterType="int">
    select reply_no
          ,replyer
          ,reply
          ,board_no
          ,reply_date
    from  tbl_reply
    where board_no = #{bno}
    order by reply_no
  </select>
  
  <select id="selectListPaging" parameterType="com.yedam.common.SearchDTO">
    SELECT b.*
		FROM    (SELECT /*+ INDEX_DESC (r PK_REPLY)*/ rownum rn, r.*
		         FROM tbl_reply r
		         WHERE r.board_no = #{boardNo}) b
		<![CDATA[
		WHERE b.rn <= #{page} * 5
		]]>
		AND   b.rn> (#{page} - 1)*5
  
  </select>
  
  <delete id="deleteReply" parameterType="int">
    delete from tbl_reply
    where reply_no = #{rno}
  </delete>
  
  <delete id="deleteReplys" parameterType="string">
    delete from tbl_reply
    where reply_no in 
      <foreach collection="array" item="reply" open="( " separator="," close=")">
        #{reply}      
      </foreach>
  </delete>
  
  <insert id="insertReply" parameterType="com.yedam.vo.ReplyVO">
    insert into tbl_reply(reply_no
                          ,replyer
								          ,reply
								          ,board_no)
    values (#{replyNo}, #{replyer}, #{reply}, #{boardNo})
  </insert>
	
	<select id="selectKey" resultType="int">
    select reply_seq.nextval
    from dual
  </select>
  
  <select id="selectReplyCount" parameterType="int">
    select count(1)
    from tbl_reply
    where board_no = #{bno}
  </select>
  
  <select id="selectEvent" resultType="map" useCache="false">
    select title as "title"
          ,start_date as "start"
          ,end_date as "end"
    from  tbl_calendar
  </select>
  
  <insert id="insertEvent" parameterType="com.yedam.common.SearchDTO">
    insert into tbl_calendar
    values (#{title}, #{start}, #{end})
  </insert>
  
  <delete id="deleteEvent" parameterType="com.yedam.common.SearchDTO">
    delete from tbl_calendar
    where title = #{title}
    and   start_date = #{start}
    and   end_date = #{end}
  </delete>
  
  <select id="countPerWriter" resultType="map">
  SELECT m.member_name AS "memberName"
        ,writer        AS "memberId"
        ,COUNT(1)      AS "count"
	FROM tbl_board b
	JOIN tbl_member m
	on b.writer = m.member_id
	GROUP BY writer, m.member_name
  </select>
</mapper>